/* Navbar Styles */
.nav-content {
    position: fixed;
    top: 0;
    width: 100vw;
    background: var(--color-card);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    /* background-image: var(--color-gradient);  */
    /* its for navbar background color */
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-text);
    text-decoration: none;
}

.nav-logo i {
    font-size: 1.35rem;
    color: #fff;
    background: var(--color-gradient);
    padding: 10px;
    border-radius: 10px;
}

.nav-item {
    margin-left: 30px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--color-accent);
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.theme-toggle,
.user-btn {
    height: 43px;
    width: 43px;
    display: flex;
    font-size: 1.05rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--color-placeholder);
    background: var(--color-input);
    border: 1px solid var(--color-border);
    transition: all 0.3s ease;
}

.theme-toggle:hover,
.user-btn:hover {
    color: var(--color-primary);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    color: var(--color-text);
    background: none;
    border: none;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-item {
        display: none;
    }

    .nav-item.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: var(--color-card);
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 10px 15px;
    }

    .nav-logo {
        font-size: 1.2rem;
    }

    .nav-logo i {
        padding: 8px;
        font-size: 1rem;
    }

    .theme-toggle,
    .user-btn {
        height: 35px;
        width: 35px;
        font-size: 0.9rem;
    }

    .hamburger {
        font-size: 1.2rem;
    }
}